BAIDU_OCR_API_KEY=
BAIDU_OCR_SECRET_KEY=
BAIDU_OCR_BASE_URL=https://aip.baidubce.com
BAIDU_OCR_TOKEN_PATH=/oauth/2.0/token
BAIDU_PADDLEOCR_SUBMIT_PATH=/rest/2.0/brain/online/v2/paddle-vl-parser/task
BAIDU_PADDLEOCR_QUERY_PATH=/rest/2.0/brain/online/v2/paddle-vl-parser/task/query
BAIDU_OCR_REQUEST_TIMEOUT_SECONDS=300
BAIDU_OCR_POLL_INTERVAL_SECONDS=6
BAIDU_OCR_POLL_TIMEOUT_SECONDS=600
BAIDU_OCR_MERGE_TABLES=true
BAIDU_OCR_RELEVEL_TITLES=true
BAIDU_OCR_RETURN_SPAN_BOXES=true
BAIDU_OCR_ANALYSIS_CHART=false
BAIDU_OCR_RECOGNIZE_SEAL=false
